<h1>
  Hi {{name}},
</h1>

<p>
  We received a request to reset password because you forgot the password.
</p>
<p>
  Please use below link to reset your password. If you didn't request, ignore this email.
</p>

<a href="{{link}}">Reset Password</a>
